android-backup==0.2.0
appdirs==1.4.4
attrs==23.1.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.4
construct==2.10.68
croniter==1.4.1
cryptography==41.0.2
defusedxml==0.7.1
gunicorn==22.0.0
idna==3.4
ifaddr==0.2.0
micloud==0.6
netifaces==0.11.0
packaging==24.0
pycairo==1.26.0
pycparser==2.21
pycryptodome==3.18.0
PyGObject==3.48.2
python-dateutil==2.8.2
python-miio==0.5.12
pytz==2023.3
PyYAML==6.0
requests==2.31.0
six==1.16.0
tqdm==4.65.0
tzlocal==5.0.1
urllib3==2.0.3
zeroconf==0.71.0
